
{% extends 'base.html' %}
{# title #}
{% block title %}
    {{ blog.title }}
{% endblock %}
{# nav #}
{% block nav_blog_active %}active{% endblock %}
{# 引用 #}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：
                        <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                            {{ blog.blog_type }}
                        </a>
                    </li>
                    <li>发表日期：{{ blog.created_time|date:"Y-m-d h:n:s" }}</li>
                </ul>
                <div class="blog-content"> {{ blog.content|safe}}</div>
                <div class="blog-more">
                    <p>
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">上一篇：{{ previous_blog.title }} </a>
                        {% else %}
                            木有了
                        {% endif %}
                    </p>
                    <p>
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">下一篇：{{ next_blog.title }}</a>
                        {% else %}
                            木有了
                        {% endif %}
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}